@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap");

/* Aplicando CSS */

/* Navbar */

.navbar {
    background-color: rgb(33, 17, 17);
}

.navbar-brand {
    color: white !important;
    
}

#buscador {
    width: 100%;
    
}
.navbar-nav {
    width: 80%;
   
}
.navbar-nav form {
    width: 50%;
    align-items: center;
    justify-content: center;
    
}

.darkMode {
    color: white;
    background-color: black;
}

/* Formulario de agregar productos */

#formAgregarCarrito {
    display: flex;
    flex-direction: column;
    justify-content: center !important;
    align-items: center !important;
    margin: 0 auto !important;
    width: 70%;
    font-size: 1.5em;
}

/* filtrar | catalogo */
#formFiltrarCarrito{ 
    width: 15%;
    border: 2px black;
}


#componentes {
    width: 80%;
}

/* card catalogo */
.img-card {
    height: 14em !important;
    margin: 0.5em 0em !important;
}

/* Modal carrito */

.modal-content {
    position: fixed;
    top: 50% !important;
    left: 200% !important;
    width: 60% !important;
}
#idModalCarrito {
    
}

.carrito-img {
    width: 100% !important;
}

.cardCarrito {
    width: 100%;
    font-size: 1em;
}